---
import NumberButton from "../components/NumberButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<div class="flex flex-col md:grid md:grid-cols-2 gap-1">
		<div class="sm:col-span-1 flex items-center justify-center h-screen">
			<div
				class="bg-gray-400 px-10 py-5 w-full max-w-[400px]"
				id="calculator"
			>
				<div class="flex flex-col sm:grid sm:grid-cols-3 gap-2">
					<span class="sm:col-span-1 uppercase font-bold">
						{Astro.generator}
					</span>
					<span class="hidden sm:block sm:col-span-1"></span>
					<span
						class="sm:col-span-1 bg-gray-500 h-10 rounded-md flex items-center justify-center"
					>
						<input
							type="color"
							class="h-full w-full cursor-pointer border-none focus:outline-none rounded-lg shadow-inner"
							id="style"
						/>
					</span>
				</div>
				<span
					class="w-full p-15 bg-gray-500 h-20 rounded-md my-5 text-xl block text-center place-content-center"
					id="result"
				>
				</span>
				<div class="bg-gray-600 p-2 rounded-md">
					<div class="grid grid-cols-4 gap-1">
						<NumberButton flat id="OFF" />
						<NumberButton flat id="CLEAR" />
						<NumberButton flat id="" />
						<NumberButton flat id="%" />
						<NumberButton id="7" />
						<NumberButton id="8" />
						<NumberButton id="9" />
						<NumberButton id="/" />
						<NumberButton id="4" />
						<NumberButton id="5" />
						<NumberButton id="6" />
						<NumberButton id="*" />
						<NumberButton id="1" />
						<NumberButton id="2" />
						<NumberButton id="3" />
						<NumberButton id="-" />
						<NumberButton id="0" />
						<NumberButton id="." />
						<NumberButton id="=" />
						<NumberButton id="+" />
					</div>
				</div>
			</div>
		</div>
		<div class="sm:col-span-1 flex self-center mb-10">
			<div class="block place-content-center" id="history">History</div>
		</div>
	</div>
</Layout>

<script src="../scripts/calculator.ts"></script>
